.branding {
    .header & {
        
        text-transform: uppercase;
        &__logo {
            font-size: rem(17px);
            transition: font-size .4s ease-in-out;
        }
        &__text {
            font-size: rem(12px);
            font-weight: $font-weight--light;
            transition: font-size .4s ease-in-out;
        }
        .header-is-collapsed & {
            &__logo {
                font-size: rem(16px);
            }
            &__text {
                font-size: rem(12px);
            }
        }
    }
    
}
