.breadcrumb {
    display: flex;
    font-size: rem(13px);
    font-weight: $font-weight--light;
    > li + li {
        &:before {
            content: "\00a0/\00a0";
        }
    }

    .article__text & {
        margin-bottom: rem(15px);
    }
}