.offcanvas {
    position: fixed;
    z-index: 999;
    width: 100vw;
    right: 0;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    top: $header-height + $announcement-height;
    height: calc(100vh - #{($header-height + $announcement-height)});
    padding: rem(12px 0);
    @include themed() {
        background-color: t($bg);
    }
    .offcanvas-is-open & {
        transform: translateX(0);
    }
    .header-is-collapsed & {
        top: $header-height--colapsed + $announcement-height--collapsed;
        height: calc(100vh - #{($header-height--colapsed + $announcement-height--collapsed)});
    }

    @include mq($from: desktop) {
        display: none;
    }
}

.offcanvas-toggle {
    @include mq($from: desktop) {
        display: none;
    }
}