.teaser {
    $self: &;
    &__figure {
        margin-bottom: $spacer--small;
        overflow: hidden;
        border-radius: rem(2px);
    }
    &__title {
        font-size: rem(20px);
        margin-bottom: $spacer--smallest;
    }
    &__text {
        font-size: rem(14px);
    }

    &--portfolio {
        flex: 0 auto;
        margin: 0 auto;
        width: 100%;
        &:not(:last-child){
            margin: 0 0 30px;
        }
        @include mq($from: tablet) {
            &:not(:last-child){
                margin: 0 20px 0 0;
            }
        }
        position: relative;
        color: rgba(#fff, .85);
        #{ $self }__figure {
            margin-bottom: 0; 
        }
        #{ $self }__text-details {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: rem(5px 10px);
            background-color: rgba(0,0,0,0.2);
        }
        #{ $self }__title {
            font-size: rem(14px);
            font-style: italic;
            font-weight: $font-weight--light;
        }

        &--3x2 {
            @include mq($from: tablet) {
                flex: 1.5 0%;
            }
        }
        &--2x3 {
            @include mq($from: tablet) {
                flex: .666667 0%;
            }
        }
    }
}