.theme-toggle {
    display: flex;
    align-items: center;
    &__button {
        padding: rem(0 5px);
        > div {
            width: rem(37px);
            height: rem(18px);
            border-radius: 15px;
            position: relative;
            background-color: #88939F;
        }
    }
    &__switch {
        @include circle(rem(16px));
        position: absolute;
        top: 1px;
        left: 1px;
        transition: all .2s ease-out;
        @include themed() {
            background-color: t($bg-theme-toggle-switch);
        }
        .theme--dark & {
            left: calc( 100% - 17px);
        }
    }
    &__icon {
        font-size: rem(11px);
        &.fa-sun {
            color: $lightning-yellow;
        }
    }

    .header & {
        @include mq($until: desktop) {
            display: none;
        }
    }

    .offcanvas & {
        justify-content: flex-end;
        margin-bottom: rem(5px);
    }

}