// text
$font-family: "Roboto", sans-serif;
$font-family--title: $font-family;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$line-height--base: 1.5;
$line-height--title: 1.2;

// layout
$container-width: rem(540px);
$container-width--tablet: rem(720px);
$container-width--desktop: rem(990px);

// sizes
$announcement-height: rem(40px);
$header-height: rem(70px);
$hamburger-padding-x: rem(15px);
$hamburger-padding-y: rem(15px);
$hamburger-layer-width: rem(30px);
$hamburger-layer-height: rem(1px);
$hamburger-layer-spacing: rem(6px);
$hamburger-hover-opacity: 0.7;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// colors
$ebony-clay: #272b38;
$limed-spruce: #3e4e53;
$desert-storm: #f5f4f3;
$silver-rust: #cac3bc;
$lightning-yellow: #ffbf11;

// color theming
$bg: "bg";
$text: "text";
$header-border: "header-border";

$themes: (
    default: (
        bg: $desert-storm,
        text: $limed-spruce,
        header-border: transparentize(#000, 0.9),
        featured-list-title-border: transparentize(#000, 0.9),
    ),
    dark: (
        bg: $ebony-clay,
        text: $silver-rust,
        header-border: transparentize(#fff, 0.9),
        featured-list-title-border: transparentize(#fff, 0.9),
    ),
);
