.branding {
    text-transform: uppercase;
    transition: font-size $transition;
    .page__head & {
        &__logo {
            font-size: rem(17px);
            .page__head-is-collapsed & {
                font-size: rem(16px);
            }
        }
        &__text {
            font-size: rem(12px);
            font-weight: $font-weight--light;
            .page__head-is-collapsed & {
                font-size: rem(12px);
            }
        }
    }
}
