.branding {
    text-transform: uppercase;
    .page__head & {
        &__logo {
            transition: font-size $transition;
            font-size: rem(17px);
        }
        &__text {
            font-size: rem(12px);
            font-weight: $font-weight--light;
            transition: font-size $transition;
        }
    }

    .head-collapsed & {
        &__logo {
            font-size: rem(16px);
        }
        &__text {
            font-size: rem(11px);
        }
    }
}
