.page {
    &__wrapper {
        padding-top: $announcement-height + $header-height;
        @include themed() {
            color: t($text);
            background-color: t($bg);
        }
    }
    &__head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: rem(0 0 10px 5px rgba($cod-gray, .1));
        backdrop-filter: saturate(180%) blur(8px);
        @include themed() {
            border-bottom: rem(1px solid t($border));
            background-color: rgba(t($bg), .9);
        }
        > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $header-height;
            transition: height $transition;
        }
        .head-collapsed & {
            > .container {
                height: $header-height--collapsed;
            }
        }
        .offcanvas-open & {
            @include themed() {
                background-color: t($bg);
            }
        }
        &__right {
            @include mq($from: desktop) {
                display: flex;
            }
        }
    }
    &__body {
        margin-bottom: $spacing-unit--large;
        .single-post & {
            margin-top: $spacing-unit + $spacing-unit--tiny;
        }
        &__content {
            display: grid;
            > * > *:not(:last-child) {
                margin-bottom: $spacing-unit;
                @include mq($from: tablet) {
                    margin-bottom: $spacing-unit--large;
                }
            }
            .single-post & {
                @include mq($from: tablet) {
                    grid-template-columns: 2fr 1fr;
                }
            }
        }
    }

    &__featured-img {
        margin-bottom: $spacing-unit;
        @include mq($from: tablet) {
            margin-bottom: $spacing-unit--large;
        }
    }
    &__foot {
        font-size: rem(13px);
        color: rgba($desert-storm, .9);
        display: flex;
        justify-content: center;
        padding: $spacing-unit 0;
        @include themed() {
            background-color: t($bg-page-foot);
        }
    }
    &__offcanvas {
        position: fixed;
        top: $announcement-height + $header-height;
        right: 0;
        height: calc(100vh - #{($announcement-height + $header-height)});
        width: 100vw;
        transform: translateX(100%);
        transition: transform $transition;
        @include themed() {
            background-color: t($bg);
        }
        @include mq($from: desktop) {
            display: none;
        }
        > .container {
            padding-top: $spacing-unit--small;
            padding-bottom: $spacing-unit--small;
        }
        .offcanvas-open & {
            transform: translateX(0);
        }

        .head-collapsed & {
            top: $announcement-height--collapsed + $header-height--collapsed;
            height: calc(100vh - #{($announcement-height--collapsed + $header-height--collapsed)});
        }
    }
}
